@model List<ToolLastLocation>

    @{
    ViewBag.Title = "Lokalizacja";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @*<meta http-equiv="refresh" content="5">*@


    @*<div class="container mb-3 mt-3">*@

    <div id="example_wrapper" class="dataTables_wrapper">
        <div class="dataTables_length" id="example_length">
        <label>Pokaż <select name="example_length" aria-controls="example" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> pozycji</label>
        <label id="example_filter" class="dataTables_filter">Szukaj:<input type="search" class="" placeholder="" aria-controls="example"></label>
        </div>
        @*<div id="example_filter" class="dataTables_filter"></div>*@

        <table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Nazwa narzędzia</th>
                    <th>Lokalizacja</th>
                    <th>Adres MAC</th>
                    <th>Czas</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => item.BleName) </td>
                        <td> @Html.DisplayFor(modelItem => item.Tool.ToolName) </td>
                        <td> @Html.DisplayFor(modelItem => item.Hub.LocationName) </td>
                        <td> @Html.DisplayFor(modelItem => item.Tool.MacAddress) </td>
                        <td> @Html.DisplayFor(modelItem => item.Timestamp) </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Nazwa</th>
                    <th>Nazwa narzędzia</th>
                    <th>Lokalizacja</th>
                    <th>Adres MAC</th>
                    <th>Czas</th>
                </tr>
            </tfoot>
        </table>

       </div>

        @section scripts {


            @*<script src="~/lib/bootstrap/dist/js/dataTables.bootstrap4.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap-table.min.js"></script>*@

            <script src="~/lib/bootstrap/dist/js/jquery.dataTables.min.js"></script>


            <script>
                $(document).ready(function () {
                    $('#example').DataTable({
                        aoColumnDefs: [
                            { "aTargets": [4], "bSortable": true },
                        ],
                        "language": {
                            "sUrl": "lib/bootstrap/dist/js/Polish.json"
                        }
                    });
                });
            </script>

        }
