
@model List<BlueManagerPlatform.Models.Tool>

@{
    ViewBag.Title = "Lokalizacja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<meta http-equiv="refresh" content="5">*@
<h2>Lokalizacja</h2>
<h5> @ViewBag.Errorr</h5>
<p>
    @Html.ActionLink("Odśwież", "Index")
</p>

@using (Html.BeginForm())
{
<p>
    Przeszukaj po nazwie: @Html.TextBox("SearchString")
    <input type="submit" value="Search" /> ||  @Html.ActionLink("Wróć", "Index", new { searchString = "" })
</p>
}
@*<div style="height: 200px; overflow: auto;">*@
<div style="height: 400px; overflow: auto;">
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Nazwa", "Index", new { sortProperty = "name", descending = !ViewBag.SortDescending })
            </th>
            <th>
                @Html.ActionLink("Nazwa urządzenia", "Index", new { sortProperty = "obj_name", descending = !ViewBag.SortDescending })
            </th>
            <th>
                @Html.ActionLink("Lokalizacja", "Index", new { sortProperty = "location", descending = !ViewBag.SortDescending })
            </th>
            <th>
                MAC
            </th>
            <th>
                @Html.ActionLink("Czas", "Index", new { sortProperty = "time", descending = !ViewBag.SortDescending })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ToolName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.MacAddress)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>*@
            </tr>
        }
    </table>

</div>