@model List<CheckReport>
@{
    ViewData["Title"] = "Status";
    Layout = null;
}

<h6 class="text-center">Status połączeń</h6>

<ul class="list-group ">
    <b class="nav-item"> Nieaktywne: </b>
    @foreach (var item in Model)
    {
        @if (!@item.IsActive)
        {
            <li class="text-warning mx-3">
                @item.LocationName (@item.IpAddress) : @item.Status.ToString()
            </li>
        }
    }
</ul>
<br />

<ul class="list-group ">
    <b class="nav-item"> Błąd połączenia: </b>
    @foreach (var item in Model)
    {
        @if (!@item.Status & @item.IsActive)
        {
            <li class="text-danger mx-3">
                @item.LocationName (@item.IpAddress) : @item.Status.ToString()
            </li>
        }
    }
</ul>
<br />

<ul class="list-group">
    <b class="nav-item"> Połączone: </b>
    @foreach (var item in Model)
    {
        @if (@item.Status)
        {
            <li class="text-success mx-3">
                @item.LocationName (@item.IpAddress) : @item.Status.ToString()
            </li>
        }
    }
</ul>


